.confirm-delete-modal {
     display: block;
     position: fixed;
     z-index: 1002;
     left: 0;
     top: 0;
     width: 100%;
     height: 100%;
     overflow: auto;
     background-color: rgba(0, 0, 0, 0.5);
     display: flex;
     align-items: center;
     justify-content: center;
   }
 
   .confirm-delete-content {
     background-color: #ffffff;
     padding: 2rem;
     border-radius: 8px;
     box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
     max-width: 400px;
     width: 90%;
     text-align: center;
   }
 
   .confirm-delete-content h2 {
     color: #202020;
     margin-top: 0;
     font-size: 1.5rem;
   }
 
   .confirm-delete-content p {
     color: #242424;
     margin-bottom: 1.5rem;
   }
 
   .confirm-delete-buttons {
     display: flex;
     justify-content: center;
     gap: 1rem;
   }
 
   .confirm-delete-buttons .button {
     padding: 0.5rem 1rem;
     font-size: 1rem;
     border-radius: 4px;
     cursor: pointer;
     transition: all 0.3s ease;
   }
 
   .confirm-delete-buttons .button:first-child {
     background-color: #dc3545;
     color: white;
     border: 1px solid #dc3545;
   }
 
   .confirm-delete-buttons .button:first-child:hover {
     background-color: #c82333;
     border-color: #bd2130;
   }
 
   .confirm-delete-buttons .button:last-child {
     background-color: #ffffff;
     color: #000000;
     border: 1px solid #ccc;
   }
 
   .confirm-delete-buttons .button:last-child:hover {
     background-color: #000000;
     color: #ffffff;
     border-color: #ddd;
   }
   @media (max-width: 600px) {
     .confirm-delete-content{
         width: 95%;
         margin: 10% auto;
     }
 }