<!-- Comments Template -->
<div id="commentsModal" class="comments-modal">
     <div class="comments-content">
         <span class="close" (click)="close()">&times;</span>
         <h2>Comments</h2>
         <div id="commentsList">
          <div class="comment">
               <p><span class="comment-author">You</span> <span class="comment-date"> 27-08-2003</span></p>
                    <p>Yo shawtyy!! Nice say!</p>
          </div>
          <div class="comment">
               <p><span class="comment-author">You</span> <span class="comment-date"> 27-08-2003</span></p>
                    <p>Yo shawtyy!! Nice say!</p>
          </div>
          <div class="comment">
               <p><span class="comment-author">You</span> <span class="comment-date"> 27-08-2003</span></p>
                    <p>Yo shawtyy!! Nice say!</p>
          </div>
         </div>
     </div>
 </div>